.menu {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 7px gray;
    padding: 20px;
    max-width: 900px;

    .menu-heading {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;

        h4 {
            margin-bottom: 10px;
        }

        .menu-heading-note {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .menu-category {
        padding: 10px;
        min-width: 250px;
        max-width: 400px;
        width: 100%;

        .menu-category-title {
            text-align: center;
            border: 1px solid black;
            padding: 3px;
        }

        .menu-category-note {
            color: gray;
            margin-bottom: 15px;
        }

        .menu-category-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 7px;
            
            .menu-category-item-name {
                flex: 1;
                margin-right: 5px;
            }

            .menu-category-item-price {
                font-weight: bold;
            }
        }
    }
}